.contact-container {
    padding: 50px 20px;
    background: #f5f7fb;
}

.page-title {
    text-align: center;
    font-size: 34px;
    color: #1f2b55;
    margin-bottom: 6px;
}

.page-subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 45px;
}

/* Grid Layout */
.staff-grid {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

/* Card */
.staff-card {
    background: #ffffff;
    border: 3px solid #e4b74e;
    border-radius: 14px;
    box-shadow: 0 12px 28px rgb(172, 174, 177);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.staff-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 40px rgba(0,0,0,0.12);
  border: 3px solid #0b5ed7;
}

/* Image */
.staff-card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

/* Info */
.staff-info {
    padding: 18px 20px;
}

.staff-role {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: #0b5ed7;
    margin-bottom: 6px;
}

.staff-info h3 {
    font-size: 18px;
    color: #1f2b55;
    margin-bottom: 8px;
}

.staff-info p {
    font-size: 14px;
    color: #444;
}

/* Mobile */
@media (max-width: 600px) {
    .page-title {
        font-size: 26px;
    }

    .staff-card img {
        height: 210px;
    }
}
