:root {
    --primary: #0b3c5d;
    --accent: #1abc9c;
    --light: #ffffff;
    --dark: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.main-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-area img {
    height: 40px;
}

.logo-area span {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.logo-area:hover {
    opacity: 0.9;
    cursor: pointer;
}


.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    color: var(--light);
    text-decoration: none;
    font-size: 15px;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}

/* Underline hover animation */
.nav-links a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--accent);
    left: 0;
    bottom: -4px;
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: var(--accent);
}

.nav-links a:hover::after {
    width: 100%;
}

.logout-btn {
    background: var(--accent);
    padding: 6px 14px;
    border-radius: 3px;
    color: #003d36 !important;
    font-weight: 600;
}

.logout-btn:hover {
    background: #17a589;
}

/* Mobile Menu Icon */
.menu-icon {
    display: none;
    font-size: 22px;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: var(--primary);
        flex-direction: column;
        width: 220px;
        padding: 20px;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}
